<div class="card content-wrapper layout border-info mb-3">
  <div class="card-header text-white" type="button" style="background-color:#337ab7;height: 2.5rem;">
      <strong>Project Status</strong>
  </div>

<div class="col-md-12" >

    <div id="stepper1" class="bs-stepper" >
      <div class="bs-stepper-header">
        <div class="" style="border:1px thin black;">
          <h6 style="text-align:center;background-color:#a9a9a9;"><b>P1</b></h6>
        <div class="step" data-target="#test-l-1" routerLink="/createProject">
          <button class="step-trigger" style="height:10px">
            
            <span class="bs-stepper-circle">1</span>
            <span  class="bs-stepper-circle" style="background-color: green;">&#10003;</span>
            <span class="bs-stepper-label" >Create Project</span>
          </button>
        </div>
        
        <div class="step" data-target="#test-l-2" routerLink="/relatedProject">
          <button class="step-trigger" style="height:10px">
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label">Related Projects</span>
          </button>
        </div>
        
        <div class="step" data-target="#test-l-3">
          <button class="step-trigger" style="height:10px">
            <span class="bs-stepper-circle">3</span>
            <span class="bs-stepper-label">FAQ</span>
          </button>
        </div>
      
        
      </div>&nbsp;
        <div class="">
          <h6 style="text-align:center;background-color:#a9a9a9;"><b>P2</b></h6>
        <div class="step" data-target="#test-l-4" routerLink="/detectbias">
          <button class="step-trigger" >
            <span class="bs-stepper-circle">4</span>
            <span class="bs-stepper-label">Detect Bias</span>
          </button>
        </div><br><br>
        
        </div>&nbsp;
        <div class="">
          <h6 style="text-align:center;background-color:#a9a9a9;"><b>P3</b></h6>
        <div class="step" data-target="#test-l-5" >
          <button class="step-trigger" >
            <span class="bs-stepper-circle">5</span>
            <span class="bs-stepper-label">Mitigate Bias</span>
          </button>
        </div><br><br>
        
        </div>&nbsp;
        <div class="">
          <br>         <h6 style="text-align:center;background-color:#a9a9a9;"><b>P4</b></h6>
        <div class="step" data-target="#test-l-6">
          <button class="step-trigger" >
            <span class="bs-stepper-circle">6</span>
            <span class="bs-stepper-label">Results</span>
          </button>
        </div>
        <br><br><br>
        </div>
      
      
          <div id="test-l-1" class="content">

          </div>
          <div id="test-l-2" class="content">

          </div>
          <div id="test-l-3" class="content">


          </div>
          <div id="test-l-4" class="content">

          </div>
          <div id="test-l-5" class="content">

          </div>

          <div id="test-l-6" class="content text-center">

          </div>
      
    </div>
  </div>
