<nav class="navbar navbar-expand-sm bg-dark1 navbar-dark" id = "navbarComponent">
   <!--  
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="id01" href="#" ngbDropdownToggle>
            
            <a id="nav-toggle" href="#">&#9776;</a>

          </a>
          <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
            <a class="dropdown-item" href="#">New Project</a>
            <a class="dropdown-item" href="1">Manage Projects</a>
            <a class="dropdown-item" href="#">Results</a>
            <a class="dropdown-item" href="#">History</a>
          </div>
        </li>
      </ul>   -->
      <img class="att-globe" src="assets/images/logo.jpg" alt="symbol" width="8%" height="15%">
    <a class="navbar-brand" routerLink="/">  
       
          
        <h3>Sample </h3> 
        
        
       
        
    </a>
                 
&nbsp;

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="dropdown show mt-auto">
      


        
    </div>
    <div class="dropdown mt-auto">
        <span class="avatar-inner float-left" role="button" data-toggle="dropdown" aria-expanded="true">
      
    </span>
        <ul class="dropdown-menu" id="profilemenu" ng-mouseenter="dashboard.showProfile()" ng-mouseleave="dashboard.hideProfile()">
        <li class="user-header"><img src="assets/img/inner_userlogo.png" class="img-circle userAvatar">
      
        </li>
        <li class="user-footer">
        <div class="float-left">
      
        </div>
        <div class="float-right">
        <a href="https://wiki.web.com/" target="_blank" class="btn btn-light float-right" rel="noopener noreferrer">Wiki page</a>
        </div>
        </li>
        </ul>
        </div>
        </div>
    
        </nav>
        <app-home></app-home>